<div class="pedidos-page">

  <!-- Encabezado -->
  <section class="page-heading">

    <div>
      <h2>Pedidos de proveedor</h2>
      <p>Gestiona los pedidos realizados a tus proveedores.</p>
    </div>

    <button
  class="primary-button"
  routerLink="/nuevo-pedido">
  + Nuevo pedido
</button>

  </section>


  <!-- Filtros -->
 <section class="filters">

  <button
    class="filter-button"
    [class.active]="filtroActual === 'todos'"
    (click)="cambiarFiltro('todos')">
    Todos
  </button>

  <button
    class="filter-button"
    [class.active]="filtroActual === 'pendientes'"
    (click)="cambiarFiltro('pendientes')">
    Pendientes
  </button>

  <button
    class="filter-button"
    [class.active]="filtroActual === 'recibidos'"
    (click)="cambiarFiltro('recibidos')">
    Recibidos
  </button>

</section>
  <!-- Carga / error -->
  <div class="estado-carga" *ngIf="cargando">
    Cargando pedidos...
  </div>

  <div class="mensaje-error" *ngIf="error">
    {{ error }}
  </div>


  <!-- Lista de pedidos -->
  <section class="orders-list">

    <article
      class="order-card"
      *ngFor="let pedido of pedidosFiltrados">

      <div class="order-main">

        <div class="order-number">
          <span>Pedido #{{ numeroPedido(pedido.codigo) }}</span>
          <strong>{{ pedido.proveedor }}</strong>
        </div>

        <div class="order-details">
          <span>{{ pedido.productos.length }} productos</span>
          <span>{{ totalUnidades(pedido) }} unidades</span>
          <span>{{ pedido.fecha_pedido | date:"d 'de' MMMM 'de' y" }}</span>
          <span>Destino: {{ pedido.zona_entrega ? 'Bodega' : 'Local' }}</span>
        </div>

      </div>

      <div class="order-right">

        <span
          class="status"
          [class.pending]="!pedido.estado"
          [class.received]="pedido.estado">
          {{ pedido.estado ? 'Recibido' : 'Pendiente' }}
        </span>

        <button
          class="view-button"
          [routerLink]="['/detalle-pedido', pedido.codigo]">

          Ver pedido →

        </button>

      </div>

    </article>


    <p *ngIf="!cargando && !error && pedidosFiltrados.length === 0">
      No hay pedidos {{ filtroActual === 'todos' ? 'registrados' : filtroActual }}.
    </p>

  </section>

</div>
