<aside
  class="sidebar"
  [class.sidebar-open]="open">

  <!-- Logo -->
  <div class="brand">
    <div class="brand-icon">◈</div>

    <div class="brand-text">
      <span class="brand-name">SGI</span>
      <span class="brand-subtitle">Inventario</span>
    </div>
  </div>


  <!-- Navegación -->
  <nav class="navigation">

    <!-- PRINCIPAL -->
    <div class="nav-section">

      <span class="section-title">PRINCIPAL</span>

      <a class="nav-item active">
        <span class="nav-icon">⌂</span>
        <span>Inicio</span>
      </a>

    </div>


    <!-- GESTIÓN -->
    <div class="nav-section">

      <span class="section-title">GESTIÓN</span>

      <a
  class="nav-item"
  routerLink="/productos"
  routerLinkActive="active">

  <span class="nav-icon">▦</span>
  <span>Productos</span>

</a>

<a
  class="nav-item"
  routerLink="/proveedores"
  routerLinkActive="active">

  <span class="nav-icon">♙</span>
  <span>Proveedores</span>

</a>

    </div>


    <!-- COMPRAS -->
    <div class="nav-section">

      <span class="section-title">COMPRAS</span>

    <a
      class="nav-item"
      routerLink="/pedidos-proveedor"
      routerLinkActive="active">

  <span class="nav-icon">▣</span>
  <span>Pedidos de proveedor</span>

</a>
    </div>


    <!-- INVENTARIO -->
    <div class="nav-section">

      <span class="section-title">INVENTARIO</span>

      <a
         class="nav-item"
        routerLink="/bodega"
        routerLinkActive="active">

        <span class="nav-icon">▤</span>
        <span>Bodega</span>

      </a>

      <a
    class="nav-item"
    routerLink="/local"
    routerLinkActive="active">

    <span class="nav-icon">▤</span>
    <span>Local</span>

      </a>

      <a
  class="nav-item"
  routerLink="/traslados"
  routerLinkActive="active">

  <span class="nav-icon">⇄</span>
  <span>Traslados</span>

</a>

    </div>


    <!-- VENTAS -->
    <div class="nav-section">

      <span class="section-title">VENTAS</span>

      <a
  class="nav-item"
  routerLink="/ventas"
  routerLinkActive="active">

  <span class="nav-icon">$</span>
  <span>Ventas / Salidas</span>

</a>

    </div>


    <!-- CONSULTAS -->
    <div class="nav-section">

      <span class="section-title">CONSULTAS</span>

      <a class="nav-item">
        <span class="nav-icon">☷</span>
        <span>Historial</span>
      </a>

    </div>

  </nav>


  <!-- Configuración -->
  <div class="sidebar-bottom">

    <a class="nav-item">
      <span class="nav-icon">⚙</span>
      <span>Configuración</span>
    </a>

  </div>

</aside>
