<header class="header">

  <!-- Parte izquierda -->
  <div class="header-left">

    <!-- Botón menú móvil -->
    <button
      class="menu-button"
      type="button"
      aria-label="Abrir menú"
      (click)="toggleMenu()">
      ☰
    </button>

    <div class="header-title">
      <h1>Inicio</h1>
      <p>Gestiona el inventario de Pintarte</p>
    </div>

  </div>


  <!-- Parte derecha -->
  <div class="header-actions">

    <!-- Notificaciones -->
    <button
      class="notification-button"
      type="button"
      aria-label="Notificaciones">

      <span>♧</span>
      <span class="notification-dot"></span>

    </button>


    <!-- Usuario -->
    <div class="user-profile">

      <div class="avatar">
        G
      </div>

      <div class="user-info">
        <span class="user-name">Gabriela</span>
        <span class="user-role">Administrador</span>
      </div>

      <span class="arrow">⌄</span>

    </div>

  </div>

</header>